<p>
  Welcome to this browser based "web editor for web content" instance (we need
  to workshop that name)!
</p>

<img style="max-width: 90%; border: 1px solid black" src="screenshot.png" />

<p>
  If you know the owner of this instance, you can sign up for an account and
  have them enable you as active user, after which you can start using this
  platform to make cool shit on the web (we probably need to workshop that
  slogan, too =)
</p>

<h2>How this works</h2>

<p>
  The idea is that this is a platform similar to (the unfortunately now
  shuttered) Glitch, giving you an editor that lets you work on and with full
  stack web stuff, directly in the browser, with an immediately hosted version
  of that available to the public.
</p>

<p>
  The idea is also that there's trust: no drive-by sign ups for putting shit on
  the web that no one wants. You agree to play by the rules, and in return the
  instance owner (and anyone they deem trustworthy enough to give admin rights
  to) will let you do your thing. Break that trust, and the admins may suspend
  or delete your project(s), or may even suspend or delete your user account.
</p>

<p>
  In return, the admins are on the hook for moderating the instance: different
  folks will have different standards when it comes to what kind of web content
  is acceptable, and by signing up at an instance whose policies and code of
  conduct resonate with you, you are trusting the admins to do a good job making
  sure violations will be appropriately dealt with. No hiding behind the US
  communications act section 230: you are on the hook for playing by the rules,
  and the admins are on the hook for stepping in when you don't.
</p>

<h2>Log in</h2>

<p>If the above all sounds reasonable, then you'll probably want to log in:</p>

<ul>
  <li>using <a href="/auth/github">GitHub</a></li>
  {% if LOCAL_DEV_TESTING === "true" %}
  <li>
    <form action="/auth/email" method="post">
      Or, <button>fake</button> an
      <input type="email" name="email" placeholder="email" /> signin.
    </form>
    <p>
      Note that this second option only exists to do user testing<br />
      with fake users, and doesn't actually send out any emails.<br />
      The activation link gets logged to the console.
    </p>
  </li>
  {% endif %}
</ul>

<p>
  Also, following the same philosophy of trust: instead of a cookie banner, you
  get an opt-in agreement here. Obviously, logins require storing enough
  information about you in a database to constitute "personally identifiable
  information", even if it's indirect information (i.e. auth token data that can
  be traced back to your account on the auth broker's website, which in turn
  will have more information about you than is stored here), and persistent
  logins work because your browser stores an identifier that gets sent to server
  in order for it to perform session management. So:
</p>

<p>
  <strong>
    <em>By logging in you are obviously okay with all of that.</em>
  </strong>
</p>

<p>
  Also also, while this platform offers private files and a way to specify
  secret environment variables, that privacy is only for the general public. If
  an admin decides to be a bad actor and look at your private files or comb
  through the database looking for API keys, there is nothing you can do to stop
  that. So, exercise the same caution as you do everywhere else. Don't put
  information on the internet that you can't afford to have become public,
  either because you can immediately invalidate things like keys and
  certificates, or because the data is useless without some additional off-site
  information. And of course, sites get hacked. This is simply a fact of life,
  act accordingly.
</p>

<h2>I tried to log in but it did nothing?</h2>

<p>
  ...yeah so as per literally the text you just read: I'm not just going to let
  you run wild on my instance if I don't know you. If we know each other, shoot
  me a message saying you signed up and I'll immediately enable your account.
  But if I have no idea who you are, trust me to hit the delete button: you want
  to run your own instance, instead. That's the whole point of this platform,
  you don't need my approval, just go run your own copy and have fun with it.
  Let your friends join that one, have a good time on the interwebs.
</p>

<h2>Starter projects</h2>

<p>
  This instance comes with a bunch of starter projects that you can remix so you
  don't have to start from scratch, including a basic "single page" HTML/CSS/JS
  website, a Node.js site that uses Express to run a simple webserver, and even
  a web graphics demo that lets you write interactive graphics code in JS.
</p>

<p>
  And if none of that sounds appealing, there's also an "empty project" that
  comes with Node.js (with npm) and Python (with pip) preinstalled, and an empty
  run script so that you can set up whatever you need in order to do that crazy
  thing you're thinking about. Just remember that folks trust you to not abuse
  the platform: don't hog the bandwidth, and don't eat all the disk space. If
  that's what you want to do, just go run your own instance, and then you can do
  literally whatever you want!
</p>

{% if projectList %}
<h2>What are folks doing on this instance?</h2>

<p>
  If you just want to see some cool stuff that's happening on this instance,
  here are the five most recent projects that people have been working on. You
  can fire each of them up in the editor view (although of course as a random
  visitor you will not be able to edit anything), or you can open the associated
  websites by clicking the link at the bottom of each project card.
</p>

<p>
  Note that not all projects may be running, but if they are: those are not
  screenshots, you're looking at the websites running as an embed. And if
  they're interactive, you can interact with them. Or you can open them in their
  own tab to experience them as proper, full website, of course!
</p>

<ul>
  {% for project in projectList %} {% include "fragments/project-card.html" %}
  {% endfor %}
</ul>
{% endif %}

<h2>Is this open source?</h2>

<p>✨ You better believe it ✨</p>

<p>
  Head on over to
  <a
    href="https://github.com/Pomax/browser-based-web-editor?tab=readme-ov-file#use-the-web-to-build-the-web"
    >https://github.com/Pomax/browser-based-web-editor</a
  >
  to read about the platform itself, and see all the code for it so you can
  check whether you trust that or not. Or even dive in and help implement new
  features or fix bugs!
</p>

<p>
  In fact, things are so open source that even the projects folks make on this
  platform are open source. If you don't want people to see your code, this is
  not the place for you, but if you want to make cool stuff in a way that others
  can learn from, can remix into their own projects, or that you could even
  collaborate with on group projects, then this might very well be the thing for
  you.
</p>

<h2>Who runs this instance?</h2>

<p>It's me, <a href="https://mastodon.social/@TheRealPomax">Pomax</a>!</p>

<h2>What's with these colours???</h2>

<p>
  Run your own instance and you can customize the look and feel to your heart's
  content. After all, <a href="https://csszengarden.com">it's just CSS</a>!
</p>
