<p>
  Click here to
  <a href="/auth/github/logout">log out</a>{% if user.admin %}, or
  (since you're an admin) click here for the <a href="/v1/admin">admin
  interface</a>{% endif %}.
</p>

<h2>Start a new project</h2>

<div id="create-project-form">
  Remix:
  <select name="starter">
  {% for s in starters %}
  {% set name = s.name %}
  <option
    value="{{ name }}"
    data-description="{{ s.description }}"
    {% if name === "basic-nodejs" %}selected{% endif %}>{{ name }}</option>
  {% endfor %}
  </select> <span class="description"></span> as a new project <button disabled>Let's go!</button>
</div>

{% if projectList %}
<h2>Your projects:</h2>

<ul>
  {% for project in projectList %}
  {% include "fragments/project-card.html" %}
  {% endfor %}
</ul>
{% endif %}

{% include "fragments/edit.html" %}