@import "./notices.css";
@import "./rewind.css";

html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    main {
      height: 100%;
      overflow: hidden;

      --header-block-height: 3.75em;

      #filetree {
        display: block;
        border: 1px solid #444;
        font-family: Arial;
        padding: 0 1em 0.25em 0;
        overflow-x: auto;
        white-space: nowrap;
        height: calc(100% - var(--header-block-height) - 0.5em);

        &:not([show-top-level]) {
          --highlight-background-bw: #44ffd8;
          dir-entry[path="."] {
            & > .buttons {
              width: calc(100% + 1em);
              padding-bottom: 0.25em;
              button {
                opacity: 1;
              }
            }
          }
        }

        &.drop {
          background: #cceeff44;
          color: #333;
        }

        file-entry {
          white-space: nowrap;
          &.revision {
            color: red;
            &:before {
              content: attr(data-revision);
            }
          }
        }
      }

      #buttons {
        display: flex;
        flex-direction: column;
        background: white;
        height: var(--header-block-height);

        div {
          position: relative;
          display: flex;
          flex-direction: row;
          white-space: nowrap;
          align-items: center;

          &:nth-child(2) {
            padding: 0.2em 0;
            background: #662584;
          }

          .link-remix {
            text-decoration: none;
            height: 100%;
            color: black;
            padding: 0 0.5em;
            text-shadow: 0 0 0.5px black;
          }

          .link-back {
            align-self: flex-end;
            height: 100%;
            color: black;
            padding: 0 0.5em;
          }

          .projectname {
            flex-grow: 1;
            color: white;
            padding: 0.25em 5px 3px;
            border-radius: 4px 4px 0 0;
            margin-left: 0.25em;
            font-weight: bold;
            text-shadow: 0 0 2px black;
            text-align: center;
            text-overflow: ellipsis;
            background: #662584;
          }

          .project-settings {
            flex-grow: 1;
          }

          button {
            height: 1.75em;
            cursor: pointer;
            border: 1px solid #30ae97;
            background: white;
            border-radius: 0.5em;
            box-shadow: 1px 2px 0px 0px #00ffcf;
          }
        }
      }

      ul {
        padding: 0;
        list-style: none;
        height: auto;

        li ul {
          padding-left: 0.5em;
        }

        li {
          white-space: nowrap;

          &.dir {
            color: #666;
            font-weight: bolder;
            font-variant: small-caps;
          }

          &.file {
            color: #222;
            font-weight: normal;
            font-variant: normal;
          }

          &:not(:has(ul)):hover {
            background: #eee;
            color: #666;
            cursor: pointer;
            &.dir {
              cursor: auto;
            }
          }
        }
      }

      --tab-bar-height: 3.75em;

      #tabnav {
        height: var(--tab-bar-height);

        #left,
        #right {
          align-self: center;
          & button {
            width: 100%;
            height: calc(var(--tab-bar-height) / 1.5);
            margin: 0;
            padding: 0;
          }
        }

        #tabs {
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          padding: 0 0.5em;

          .tab {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 0.5em 0.5em 0 0;
            padding: 0.25em 0.75em;
            border-bottom: none;
            top: 0.35em;
            position: relative;
            display: inline-block;
            user-select: none;

            & + div {
              margin-left: 0.5em;
            }

            &.active {
              background: #e3f6ff;
              color: #333;
            }

            .close {
              position: relative;
              top: -0.3em;
              left: 1.1em;
              background: inherit;
              border: 1px solid gray;
              border-radius: 25%;
              background: #e2bc491f;

              &:hover {
                background: red;
                color: white;
                cursor: pointer;
              }
            }
          }
        }
      }

      #editors {
        --editor-height: calc(100% - var(--tab-bar-height) - 5px);
        min-height: var(--editor-height);
        max-height: var(--editor-height);
        overflow: auto;
        border: 1px solid grey;
        width: calc(100% - 2px);

        .editor.tab {
          width: 100%;
        }

        img,
        audio,
        video {
          margin: 2em;
          max-width: calc(100% - 4em);
        }
      }

      #preview {
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% - 1px);
          height: 100%;
          border: 1px solid gray;
          box-sizing: border-box;
          background-color: #fff;
          transition:
            opacity 0.25s,
            background-color 0.25s linear;
        }
        &.restarting iframe {
          background-color: #fde;
        }
        #preview-buttons {
          position: absolute;
          right: 1em;
          top: 0.5em;
          z-index: 2;
        }
      }

      graphics-element {
        table.slider-wrapper {
          background: #ececec;
          margin-bottom: 0.25em;
        }
      }
    }
  }

  #filetree {
    & button {
      opacity: 0.5;
      cursor: pointer;
    }

    & file-entry:hover > .buttons {
      display: inline-block;
      height: var(--line-height);
    }
  }

  button {
    border-radius: 5px;
    margin: 2px 5px;
    border: 1px solid #555;
    border-radius: 3px;

    border-radius: 3px;

    &.clear {
      background: none;
      border: 1px solid #444;
      color: #999;
      right: 1em;
      top: 1em;
      cursor: pointer;
    }

    &.active {
      color: white;
      background: darkgreen;
      border: 2px solid green;
      border-radius: 5px;

      &:hover {
        background: rgb(0, 50, 0);
      }
      &:active {
        color: darkgreen;
        background: white;
      }
    }
  }
}
