@import "../variables.css";

@import "./notices.css";
@import "./rewind.css";
@import "./logs.css";

html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    main {
      height: 100%;
      overflow: hidden;

      --header-row-height: calc(3.75em / 2);
      --header-block-height: calc(var(--header-row-height) * 2);

      .left-column-padding {
        height: calc(var(--header-row-height) - 2px);
      }

      #filetree {
        display: block;
        border: 1px solid var(--file-tree-border);
        font-family: Arial;
        padding: 0 1em 0.25em 0;
        overflow-x: auto;
        white-space: nowrap;

        height: calc(
          100% - var(--header-block-height) - var(--header-row-height) - 0.5em
        );

        &.full-height {
          height: calc(100% - 2.5em - 1px);
        }

        &:not([show-top-level]) {
          --highlight-background-bw: #44ffd8;
          dir-entry[path="."] {
            & > .buttons {
              width: calc(100% + 1em);
              padding-bottom: 0.25em;
              button {
                opacity: 1;
              }
            }
          }
        }

        &.drop {
          background: var(--file-tree-drop-background);
          color: var(--file-tree-drop-color);
        }

        file-entry {
          white-space: nowrap;
          &.revision {
            color: var(--revised-file-entry-text);
            &:before {
              content: attr(data-revision);
            }
          }
        }
      }

      .utility {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--header-row-height) - 2px);
        background: var(--editor-neutral-background-color);
        border: 1px solid var(--editor-tab-border-color);
        border-top: none;
      }

      #buttons {
        display: flex;
        flex-direction: column;
        background: var(--editor-utilities-bar-background);

        & > div {
          position: relative;
          display: flex;
          flex-direction: row;
          white-space: nowrap;
          align-items: center;

          &:nth-child(1) {
            background: var(--editor-nav-top-background);
          }

          &:nth-child(2) {
            padding: 0.2em 0;
          }

          .link-back,
          .link-remix {
            color: var(--editor-nav-top-text);
            margin: 0.25em;
            margin-bottom: 0;
            height: 100%;
          }

          .projectname {
            flex-grow: 1;
            max-width: calc(100% - 6em);
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--editor-project-name-text);
            padding: 0.25em 5px 3px;
            border-radius: 4px 4px 0 0;
            margin-left: 0.25em;
            font-weight: bold;
            text-shadow: 0 0 2px var(--editor-project-name-text-shadow);
            text-align: center;
            text-overflow: ellipsis;
            background: var(--editor-project-name-background);
          }

          .project-settings {
            flex-grow: 1;
          }

          button {
            height: 1.75em;
            cursor: pointer;
            border: 1px solid var(--editor-utilities-button-border-color);
            background: var(--editor-utilities-button-background);
            border-radius: 0.5em;
            box-shadow: 1px 2px 0px 0px
              var(--editor-utilities-button-box-shadow);
          }
        }
      }

      ul {
        padding: 0;
        list-style: none;
        height: auto;

        li ul {
          padding-left: 0.5em;
        }

        li {
          white-space: nowrap;

          &.dir {
            color: var(--editor-dir-color);
            font-weight: bolder;
            font-variant: small-caps;
          }

          &.file {
            color: var(--editor-file-color);
            font-weight: normal;
            font-variant: normal;
          }

          &:not(:has(ul)):hover {
            color: var(--editor-unhovered-li);
            cursor: pointer;
            &.dir {
              cursor: auto;
            }
          }
        }
      }

      --tab-bar-height: 3.75em;

      #tabnav {
        height: var(--tab-bar-height);

        #left,
        #right {
          align-self: center;
          & button {
            width: 100%;
            height: calc(var(--tab-bar-height) / 1.5);
            margin: 0;
            padding: 0;
          }
        }

        #tabs {
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          padding: 0 0.5em;

          .editor.tab {
            cursor: pointer;
            border: 1px solid var(--editor-tab-border-color);
            border-radius: 0.5em 0.5em 0 0;
            padding: 0.25em 0.75em;
            border-bottom: none;
            top: 0.35em;
            position: relative;
            display: inline-block;
            user-select: none;

            & + div {
              margin-left: 0.5em;
            }

            &.active {
              background: var(--editor-active-tab-background);
              color: var(--editor-active-tab-text);
            }

            &.moving {
              background: var(--editor-moving-tab-background);
            }

            .close {
              position: relative;
              top: -0.3em;
              left: 1.1em;
              background: inherit;
              border: 1px solid var(--editor-tab-close-border-color);
              border-radius: 25%;
              background: var(--editor-tab-close-background);

              &:hover {
                background: var(--editor-tab-close-hovered-background);
                color: var(--editor-tab-close-hovered-color);
                cursor: pointer;
              }
            }
          }
        }
      }

      #editors {
        --editor-height: calc(100% - var(--tab-bar-height) - 5px);

        min-height: var(--editor-height);
        max-height: var(--editor-height);
        overflow: auto;
        border: 1px solid var(--editors-group-border-color);
        width: calc(100% - 2px);

        .editor.panel {
          display: none;
          width: 100%;

          &.active {
            display: block;
          }

          img,
          audio,
          video {
            margin: 2em;
            max-width: calc(100% - 4em);
          }
        }
      }

      #preview {
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% - 1px);
          height: 100%;
          border: 1px solid var(--preview-group-border-color);
          box-sizing: border-box;
          background-color: var(--preview-group-background);
          transition:
            opacity 0.25s,
            background-color 0.25s linear;
        }
        &.restarting iframe {
          background-color: var(--preview-restarting-iframe-background);
        }
        #preview-buttons {
          position: absolute;
          right: 1em;
          top: 0.5em;
          z-index: 2;
        }
      }

      graphics-element {
        table.slider-wrapper {
          background: var(--graphics-element-table-slider-wrapper-background);
          margin-bottom: 0.25em;
        }
      }
    }
  }

  #filetree {
    & button {
      opacity: 0.5;
      cursor: pointer;
    }

    &:not([readonly]) file-entry:hover > .buttons {
      display: inline-block;
    }
  }

  button {
    border-radius: 5px;
    margin: 2px 5px;
    border: 1px solid var(--editor-button-border-color);
    border-radius: 3px;

    border-radius: 3px;

    &.clear {
      background: none;
      border: 1px solid var(--editor-clear-button-border-color);
      color: var(--editor-clear-button-text);
      right: 1em;
      top: 1em;
      cursor: pointer;
    }

    &.active {
      color: var(--editor-active-button-color);
      background: var(--editor-active-button-background);
      border: 2px solid var(--editor-active-button-border-color);
      border-radius: 5px;

      &:hover {
        background: var(--editor-active-button-hovered-background);
      }
      &:active {
        color: var(--editor-active-button-active-color);
        background: var(--editor-active-button-active-background);
      }
    }
  }
}
