@import "../variables.css";

body {
  .notice {
    position: fixed;
    top: 1em;
    right: 1em;
    padding: 1em;
    padding-right: 3em;

    font-family: Arial;
    box-shadow: 2px 2px 10px 0px var(--notice-light-box-shadow);
    border-radius: 0.5em;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s linear;

    &.info {
      background: var(--notice-info-background);
      text-shadow: 1px 1px 1px var(--notice-light-text-shadow);
    }
    &.warning {
      background: var(--notice-warning-background);
      text-shadow: 1px 1px 1px var(--notice-light-text-shadow);
    }
    &.error {
      background: var(--notice-error-background);
      color: var(--white);
      text-shadow: 1px 1px 1px var(--notice-dark-text-shadow);
    }

    .close {
      display: block;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 1.5em;
      height: 1.5em;
      background: var(--close-button-background);
      color: var(--black);
      cursor: pointer;
    }
  }
}
