@import "../variables.css";

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  body {
    file-tree.rewinding {
      background: var(--rewind-file-tree-background);
      border: 5px solid #00ffc3 !important;
      box-sizing: border-box;
      dir-entry[path="."] {
        & > span.buttons {
          &:before {
            content: "rewinding";
            font-weight: bold;
            opacity: 0;
            animation: fade-in-out 2s ease-in alternate infinite;
          }
        }
      }
    }

    &:has(file-tree.rewinding) {
      #rewind {
        background: var(--rewinding-rewind-background);
      }
      #editors {
        .cm-editor {
          background: var(--rewinding-cm-editor-background);
        }
      }
    }

    .history {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.7em;
      background: var(--rewinding-history-background);

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;

      --x: 0;
      counter-reset: station;

      .point {
        cursor: pointer;
        padding: 0 0.5em;
        background: var(--history-point-background);
        border-radius: 100%;
        margin-right: 4em;
        border: 1.5px solid var(--history-point-border-color);
        box-sizing: content-box;
        display: inline-block;
        width: 0em;
        height: 1em;

        transform: translate(var(--x), 0);
        transition: transform 0.1s ease-in-out;

        &.selected {
          background: var(--history-selected-point-background);
          &:before {
            background: var(--history-selected-point-callout-background);
            color: var(--history-selected-point-callout-text);
            text-shadow: 0 0 3px
              var(--history-selected-point-callout-text-shadow);
          }
        }

        &:before {
          white-space: nowrap;
          content: attr(data-time);

          position: absolute;
          transform: rotate(-22deg) translate(0.5em, -1em);
          transform-origin: top left;
          background: var(--history-point-callout-background);
          padding: 0.2em 0.5em;
          border-radius: 0.8em;
          border: 1px solid var(--history-point-callout-border-color);
          color: var(--history-point-callout-text);
          text-shadow: 0 0 3px var(--history-point-callout-text-shadow);
          font-family: Arial;
          font-weight: bold;
          box-shadow: 0px 5px 0px 0px var(--history-point-callout-box-shadow);
        }

        &:nth-child(n + 2):before {
          content: "(" counter(station) ") " attr(data-time);
          counter-increment: station;
        }
      }
    }
  }
}
