dialog {
  &::backdrop {
    background: rgba(0, 179, 128, 0.399);
  }
  form {
    fieldset {
      border: none;
      label {
        display: block;
        font-weight: bold;
      }
      input,
      textarea {
        margin: 1em;
        width: calc(100% - 2em);
      }
      input[type="radio"] {
        display: inline-block;
        width: 1em;
        &:first-of-type {
          margin-left: 1em;
        }
        & + label {
          display: inline-block;
          font-weight: normal;
          margin-left: -0.5em;
        }
      }
    }
  }
}
