html {
  height: unset;
  overflow: unset;

  width: 100%;
  background: #fbdd85;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  body {
    margin: 0;
    background: #fff4d9;
    max-width: 960px;
    min-height: 100vh;
    box-shadow: 0 0 4em 0 #ff8300;

    overflow: auto !important;
    padding: 1em;
    padding-bottom: 2em;

    font-family: Verdana;
    font-size: 14px;

    h1,
    h2 {
      font-size: 2em;
      background: white;
      color: #333;
      border: 1px solid black;
      border-width: 1px 0;
      position: relative;
      left: -1em;
      top: -0.5em;
      width: calc(100% + 0.5em - 0.1em);
      padding: 0.3em;
      margin: 0 0.5em;
    }

    h2 {
      margin-top: 1.5em;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5em;

      li {
        position: relative;
        background: #fffdfa;
        border: 1px solid black;
        padding: 1em;
        margin-top: 0.5em;
        border-radius: 0.5em;

        h3 {
          width: 100%;
          background: white;
          font-size: 2em;
          margin: 0;
          text-align: center;
          border: 1px solid #666;
        }

        iframe {
          display: block;
          background: white;
          border: 3px solid grey;
          transform: scale(calc(400 / 1000));
          width: 1000px;
          height: 600px;
          margin: calc(-150px - 1.5em) -300px calc(-150px - 1.5em) -300px;
          & + a {
            display: inline-block;
            width: 100%;
            text-align: right;
            font-size: 0.8em;
          }
        }

        .edit-project-settings,
        .delete-project {
          position: absolute;
          top: -1em;
          cursor: pointer;
        }

        .edit-project-settings {
          left: 0;
          background: blue;
          color: white;
        }

        .delete-project {
          right: 0;
          background: red;
          color: white;
        }

        p {
          margin: 0;
          margin-top: 0.5em;

          &.date {
            font-family: Verdana;
            font-size: 0.8rem;
            color: grey;
            text-align: center;
            margin-top: 0;
          }

          a.website {
            display: inline-block;
            width: 90%;
            text-align: center;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }
}
