<li>
  <header>
    <h3>
      <a
        href="https://{{ WEB_EDITOR_HOSTNAME }}/v1/projects/edit/{{ project.slug }}"
        >{{ project.name }}</a
      >
    </h3>
    {% if not profileUser %}
      <h4>
        by
        {% for user in project.owners %}
          {% if project.owners.length > 1 %}
            {% if project.owners.length == 2 %}
              and
            {% else %}
              {% if not loop.first %},{% endif %}
              {% if loop.last %}and{% endif %}
            {% endif %}
          {% endif %}
          <a
            href="https://{{ WEB_EDITOR_HOSTNAME }}/v1/users/profile/{{ user.slug }}"
            >{{ user.name }}</a
          >
        {% endfor %}
      </h4>
    {% endif %}
  </header>

  {% if project.description %}
    <p>{{ project.description | para | safe }}</p>
  {% endif %}
  {% if ownProject %}
    <button data-project-id="{{ project.id }}" class="edit-project-settings">
      settings
    </button>
    <button data-project-slug="{{ project.slug }}" class="delete-project">
      delete
    </button>
  {% endif %}

  {% if USE_LIVE_EMBEDS == "true" %}
    <iframe
      width="1000"
      height="600"
      src="https://{{ project.slug }}.{{ WEB_EDITOR_APPS_HOSTNAME }}/?v={{ currentTime }}"
    ></iframe>
  {% else %}
    <picture class="screenshot">
      <source srcset="/screenshots/{{ project.slug }}.png" type="image/png" />
      <img src="/screenshots/default.png" />
    </picture>
  {% endif %}

  <p class="date">
    Created {{ project.created_at | year }}, last updated
    {{
      project.updated_at
      | year
    }}
  </p>

  <p>
    <a
      class="website"
      href="https://{{ project.slug }}.{{ WEB_EDITOR_APPS_HOSTNAME }}"
      target="_blank"
      >Open as website in a new tab</a
    >
  </p>
</li>
