<tr>
  <td>{{ project.id }}</td>
  <td>
    <a
      href="https://{{ WEB_EDITOR_HOSTNAME }}/v1/projects/edit/{{ project.name }}"
      target="_blank"
      >{{ project.name }}</a
    >
  </td>
  <td>{{ project.description }}</td>
  <td>{{ project.created_at | year }}</td>
  <td>
    {% if not project.activeSuspensions %}
    <form action="/v1/admin/project/suspend/{{ project.id }}" method="post">
      <input type="text" name="reason" placeholder="suspension reason" />
      <button>suspend</button>
    </form>
    {% endif %}
    <form action="/v1/admin/project/delete/{{ project.id }}" method="post">
      <fieldset disabled>
        <button>delete</button>
      </fieldset>
    </form>
  </td>
</tr>

{% if project.suspensions.length %}
<tr>
  <td colspan="5">&nbsp;</td>
</tr>
{% for s in project.suspensions |reverse %}
<tr>
  <td></td>
  <td colspan="5">
    {% if not s.invalidated_at %}
    <strong>Active suspension:</strong> "{{ s.reason }}", active since {{
    s.suspended_at }}
    <form action="/v1/admin/project/unsuspend/{{ s.id }}" method="post">
      <button>lift suspension</button>
    </form>
    {% else %}<em>
      Past suspension: "{{ s.reason }}" set {{ s.suspended_at}} but invalidated
      on {{ s.invalidated_at | date }} </em
    >{% endif %}
  </td>
</tr>
{% endfor %}
<tr>
  <td colspan="6">&nbsp;</td>
</tr>
{% endif %}
