<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Admin Page</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/themes/default/css/admin.css" async />
    <script
      type="module"
      src="/themes/default/js/admin.js"
      async
      defer
    ></script>
  </head>
  <body>
    <h1>Admin interface</h1>

    <p>
      Currently logged in as admin {{ user.name }}. Superuser status:
      <strong>{% if admin.superuser %}en{% else %}dis{% endif %}abled</strong>.
      (<a href="/v1/admin/toggle/superuser"
        >{% if admin.superuser %}dis{% else %}en{% endif %}able now</a
      >).
    </p>

    <p>
      click here to
      <a href="/auth/logout">log out</a> or click here to go back to
      <a href="/">the main page</a>.
    </p>

    {% include "./fragments/admin/users.html" %}
    {%
      include
      "./fragments/admin/projects.html"
    %}
    {%
      include
      "./fragments/admin/containers.html"
    %}
    {%
      include
      "./fragments/admin/servers.html"
    %}
    {% include "fragments/file-issues.html" %}
  </body>
</html>
