<!doctype html>
{% set project = lookups.project %}{% set projectId = lookups.project.id %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A web editor for "{{ project.name }}"</title>
    <script
      src="/vendor/drag-drop-touch.esm.min.js?autoload"
      type="module"
    ></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/themes/default/css/layout.css" />
    <link rel="stylesheet" href="/themes/default/css/editor.css" />
    <link rel="stylesheet" href="/themes/default/css/file-tree.css" />
    <link rel="stylesheet" href="/themes/default/css/cm6.css" />
    <link rel="stylesheet" href="/themes/default/css/editor/three-column.css" />
    <script src="/themes/default/js/three-column.js" async defer></script>
  </head>
  <body
    {% if projectMember %}data-project-member="true"{% endif %}
    data-project-id="{{ projectId }}"
    data-project-slug="{{ project.slug }}"
    data-default-file="{{ viewFile }}"
    data-default-collapse="{{ projectSettings.default_collapse }}"
    {% if USE_WEBSOCKETS == 'true' %}data-use-websockets="true"{% endif %}
  >
    <main class="three-column">
      <div class="left column">
        <div id="buttons">
          <div>
            <a class="link-back" href="https://{{ WEB_EDITOR_HOSTNAME }}"
              >home</a
            >
            <span class="projectname" title="{{ project.name }}"
              >{{ project.name }}</span
            >
            {% if user and user.enabled_at %}
              <a
                class="link-remix"
                title="Remix this project!"
                href="/v1/projects/remix/{{ project.slug }}"
                >remix</a
              >
            {% endif %}
          </div>
          <div>
            {% if user %}
              {% if user.superuser or projectOwner %}
                <button
                  class="project-settings"
                  title="change your project settings"
                >
                  settings
                </button>
              {% endif %}
              {% if user.enabled_at and not starter %}
                <button id="download" title="Download this project as a .zip">
                  💾
                </button>
              {% endif %}
              {% if user.superuser or projectMember %}
                <button id="format" title="Make my code pretty!">🤩</button>
                <button id="rewind" title="Use the time machine!">🔄</button>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <file-tree
          id="filetree"
          {% if not projectMember %}readonly{% endif %}
        ></file-tree>
      </div>

      <div class="full resize">
        <span><i>.</i><i>.</i><i>.</i></span>
      </div>

      <div class="middle column">
        <div id="tabnav">
          <div id="left">
            <button>〈</button>
          </div>
          <div id="tabs"></div>
          <div id="right">
            <button>〉</button>
          </div>
        </div>
        <div id="editors"></div>
      </div>

      <div class="full resize">
        <span><i>.</i><i>.</i><i>.</i></span>
      </div>

      <div class="right column" id="preview" style="position:relative">
        <span id="preview-buttons">
          {% if user and app_type != "static" %}
            <button class="restart" title="Restart your host container">
              restart
            </button>
          {% else %}
            <button class="pause" title="Pause auto-reload">pause</button>
          {% endif %}
          <button class="newtab" title="Open preview in new tab">
            new tab
          </button>
        </span>
        <iframe
          sandbox
          src="https://{{ WEB_EDITOR_HOSTNAME }}/default/index.html"
          data-src="https://{{ project.slug }}.{{ WEB_EDITOR_APPS_HOSTNAME }}"
          data-project-name="{{ project.name }}"
        ></iframe>
      </div>
    </main>

    {% include "fragments/settings.html" %}

    <script src="/js/editor.bundle.js" type="module" async></script>
  </body>
</html>
