<!doctype html>
{% set project = lookups.project %}{% set projectId = lookups.project.id %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A web editor for "{{ project.name }}"</title>
    <script
      src="/vendor/drag-drop-touch.esm.min.js?autoload"
      type="module"
    ></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/themes/default/css/layout.css" />
    <link rel="stylesheet" href="/themes/default/css/editor.css" />
    <link rel="stylesheet" href="/themes/default/css/file-tree.css" />
    <link rel="stylesheet" href="/themes/default/css/cm6.css" />
  </head>
  <body
    {% if projectMember %}data-project-member="true"{% endif %}
    data-project-id="{{ projectId }}"
    data-project-slug="{{ project.slug }}"
    data-default-file="{{ viewFile }}"
    data-default-collapse="{{ projectSettings.default_collapse }}"
  >
    <main>
      <span id="buttons">
        <a class="link-back" href="https://{{ WEB_EDITOR_HOSTNAME }}">home</a>
        <span class="projectname">{{ project.name }}</span>
        {% if user %}
          <button id="download" title="Download project files">💾</button>
          <a
            title="Remix this project!"
            href="/v1/projects/remix/{{ project.slug }}"
            >✨</a
          >
        {% endif %}
        {% if user and (user.admin or projectOwner) %}
          <button class="project-settings">settings</button>
        {% endif %}
        {% if user and (user.admin or projectMember) %}
          <button id="format" title="Make my code pretty!">🤩</button>
        {% endif %}
      </span>

      <file-tree id="filetree"></file-tree>

      <div id="tabnav">
        <div id="left">
          <button>〈</button>
        </div>
        <div id="tabs"></div>
        <div id="right">
          <button>〉</button>
        </div>
      </div>
      <div id="editors"></div>

      <div id="preview" style="position: relative">
        <span id="preview-buttons">
          {% if user and app_type != "static" %}
            <button class="restart" title="Restart your host container">
              restart
            </button>
          {% endif %}
          <button class="newtab" title="Open preview in new tab">
            new tab
          </button>
        </span>
        <iframe
          sandbox
          src="https://{{ WEB_EDITOR_HOSTNAME }}/default/index.html"
          data-src="https://{{ project.slug }}.{{ WEB_EDITOR_APPS_HOSTNAME }}"
          data-project-name="{{ project.name }}"
        ></iframe>
      </div>

      <div id="status">
        Welcome to
        <a href="https://mastodon.social/deck/@TheRealPomax" target="_blank"
          >my</a
        >
        browser based web editor! This editor uses
        <a href="https://codemirror.net/" target="_blank">CodeMirror 6</a> for
        its file panels, and
        <a
          href="https://pomax.github.io/custom-file-tree/public/"
          target="_blank"
          >&lt;file-tree&gt;</a
        >
        for its file browser. The project is hosted over on
        <a href="https://github.com/pomax/make-webbly-things" target="_blank"
          >https://github.com/pomax/make-webbly-things</a
        >.
      </div>
    </main>

    {% include "fragments/settings.html" %}

    <script src="/js/editor.bundle.js" type="module" async></script>
  </body>
</html>
