<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% set profileUser = lookups.user %}
    {%
      set allowEdit = profile.ownProfile
      or user.superuser
    %}
    <title>Profile for {{ profileUser.name }}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/themes/default/css/layout.css" />
    <link rel="stylesheet" href="/themes/default/css/editor.css" />
    <link rel="stylesheet" href="/themes/default/css/main.css" />
    <link rel="stylesheet" href="/themes/default/css/profile.css" />
  </head>
  <body>
    <h1>
      Profile page for {{ profileUser.name }}
      {% if allowEdit %}
        <button class="show-edit">edit</button>
      {% endif %}
    </h1>

    <p>
      <a href="/">Back to main</a>
    </p>

    <p>
      {% if profile.ownProfile %}You{% else %}{{ profileUser.name }}{% endif %}
      joined
      {{ profileUser.created_at | year }}{% if profile.projects.length > 0 %}
        and created at least {{ profile.projects.length }}
        project{% if profile.projects.length != 1 %}s{% endif %} since then!
      {% endif %}
    </p>

    {% if profile.ownProfile %}
      <section>
        <h2>Login methods</h2>

        <p>
          This "login" section is only visible to you, no one else can see it -
          if you only have a single method of authentication tied to your user
          account, you'll want to add at least one more, so that if you ever
          lose access to your primary method of authentication, you can just log
          in with your secondary (or tertiary, or... etc).
        </p>

        <ul class="login-methods">
          {% for entry in profile.services %}
            <li>
              {{ entry.service_domain or entry.service }}
              {% if profile.services.length > 1 %}
                (<a href="/v1/users/service/remove/{{ entry.service }}"
                  >remove</a
                >)
              {% endif %}
            </li>
          {% endfor %}
          {% for entry in profile.additionalServices %}
            <li>
              <a href="/v1/users/service/add/{{ entry.service }}">
                add {{ entry.service_domain or entry.service }} as auth method
              </a>
            </li>
          {% endfor %}
        </ul>

        <p>
          If you need to log in on a device that is not itself logged into any
          of the auth providers you're using, you can generate a direct login
          link here. These links act like a normal login, setting up a
          persistent cookie-based session, but the links themselves are
          one-time-use and expire after 12 hours (as well as whenever the server
          restarts).
        </p>

        <p>
          Also note that <em>anyone</em> can use your link, so if you need one:
          generate it, send it to yourself, and immediately use it to log in.
        </p>

        <p style="text-align: center">
          <button class="generate">generate a link</button>
          <input type="text" class="auth-link" />
        </p>
      </section>
    {% endif %}

    <section class="presentation">
      <h2>Bio</h2>

      <div class="bio">
        {% if profileUser.bio %}
          {{ profileUser.bio | markdown | safe }}
        {% else %}
          This user has not filled in a personal bio yet, which may mean their
          account hasn't been activated yet.
        {% endif %}
      </div>

      <h2>Links</h2>

      <ul class="links">
        {% if profile.links.length %}
          {% for link in profile.links %}
            <li>
              {{ link.name }}: <a href="{{ link.url }}">{{ link.url }}</a>
            </li>
          {% endfor %}
        {% else %}
          This user has not added any links to their profile, which may mean
          their account hasn't been activated yet.
        {% endif %}
      </ul>
    </section>

    {% if allowEdit %}
      <section class="hidden edit-form">
        <form action="/v1/users/profile/{{ profileUser.slug }}" method="POST">
          <fieldset>
            <h2>Bio</h2>
            <p>
              Describe yourself! And if you want to use markdown: go for it!
            </p>
            <textarea name="bio">{{ profileUser.bio }}</textarea>
          </fieldset>

          <fieldset>
            <h2>Links</h2>
            <p>
              This is where you can list as many links that are related to
              yourself as you want. And you're free to name those however you
              see fit, there's no prescribed list of "you can only list X, Y, or
              Z", if there's a link worth listing, go for it!
            </p>
            <input type="button" class="add-link" value="add link" />
            <ul class="links">
              {% for link in profile.links %}
                <li>
                  <label>{{ link.name }}</label>
                  <input
                    type="hidden"
                    name="linkNames"
                    value="{{ link.name }}"
                  />
                  <input type="url" name="linkHrefs" value="{{ link.url }}" />
                  <input
                    type="hidden"
                    name="linkOrder"
                    value="{{ link.sort_order }}"
                  />
                  <input type="button" class="remove-link" value="remove" />
                </li>
              {% endfor %}
            </ul>
          </fieldset>

          <input type="reset" value="cancel" />
          <input type="submit" value="save" />
        </form>
      </section>
    {% endif %}

    <h2>Projects</h2>

    {% if profile.projects.length %}
      <ul>
        {% if profile.ownProfile %}{% set ownProject = true %}{% endif %}
        {% for project in profile.projects %}
          {% include "fragments/project-card.html" %}
        {% endfor %}
      </ul>
    {% else %}
      This user does not have any projects yet.
    {% endif %}

    {% if user %}
      {% include "fragments/file-issues.html" %}
    {% endif %}

    <script src="/themes/default/js/profile.js" async defer></script>
  </body>
</html>
