<p>
  Click here for your <a href="/v1/users/profile/{{ user.slug }}">profile</a>,
  or here to <a href="/auth/logout">log out</a>.
  {% if user.admin %}
    Or, since you're an admin, click here for the
    <a href="/v1/admin">admin interface</a>.
  {% endif %}
</p>

{% if user.enabled_at %}
  <h2>Start a new project!</h2>

  <div id="create-project-form">
    <ul class="one-row">
      {% for project in starters %}
        {% set starter = true %}
        {% include "fragments/project-card.html" %}
      {% endfor %}
    </ul>
  </div>

  {% if projectList.length %}
    <h2>Your projects:</h2>

    <ul>
      {% for project in projectList %}
        {% set ownProject = true %}
        {% include "fragments/project-card.html" %}
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
{% include "fragments/settings.html" %}
{% include "../fragments/file-issues.html" %}

<script defer>
  const loadLinks = document.querySelectorAll(`a.load-project`);
  loadLinks.forEach((a) =>
    a.addEventListener(`click`, ({}) => {
      const li = a.closest(`li`);
      li.classList.add(`loading`);
      setTimeout(() => li.classList.remove(`loading`), 5000);
    }),
  );
</script>
