@import "./variables.css";

html {
  body {
    footer {
      margin-top: 2em;
      margin-bottom: calc(-0.5em + 1px);
      text-align: center;
      font-size: 1em;
    }

    fieldset {
      display: inline-block;
      border: none;
      margin: 0;
      padding: 0;

      & + fieldset {
        margin-top: 1em;
      }

      button.enabled {
        box-shadow: 0 0 1px 1px var(--admin-enabled-button-box-shadow);
      }

      &[disabled] button.enabling {
        animation: enabling 2s linear;
      }
    }
    table {
      tr {
        th:not(:empty) {
          border-bottom: 1px solid var(--admin-table-header-border-color);
        }
        td {
          padding: 0 1em;
          form {
            display: inline-block;
            & + form {
              margin-left: 1em;
            }
          }
        }
      }
    }
  }
}

@keyframes enabling {
  0% {
    opacity: 0.5;
    color: inherit;
    box-shadow: 0 0 0 0 var(--admin-enabling-button-background);
  }
  100% {
    opacity: 1;
    color: black;
    box-shadow: 0 0 10px 0 var(--admin-enabling-button-background);
  }
}
