body {
  .notice {
    position: fixed;
    top: 1em;
    right: 1em;
    padding: 1em;
    padding-right: 3em;

    font-family: Arial;
    box-shadow: 2px 2px 10px 0px black;
    border-radius: 0.5em;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s linear;

    &.info {
      background: #99ffaf;
      text-shadow: 1px 1px 1px #ececec;
    }
    &.warning {
      background: #fff2aa;
      text-shadow: 1px 1px 1px #ececec;
    }
    &.error {
      background: #db3939;
      color: white;
      text-shadow: 1px 1px 1px black;
    }

    .close {
      display: block;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 1.5em;
      height: 1.5em;
      background: #e8e8e8;
      color: black;
      cursor: pointer;
    }
  }
}
