<!doctype html>{% set projectName = lookups.project.name %}{% set projectId = lookups.project.id %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A web editor for "{{ projectName }}"</title>
    <script
      src="/vendor/drag-drop-touch.esm.min.js?autoload"
      type="module"
    ></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/editor.css" />
    <link rel="stylesheet" href="/css/file-tree.css" />
    <link rel="stylesheet" href="/css/cm6.css" />
  </head>
  <body
    data-project-id="{{ projectId }}"
    data-project-name="{{ projectName }}"
    data-default-file="{{ viewFile if viewFile else projectSettings.default_file }}"
    data-default-collapse="{{ projectSettings.default_collapse}}"
  >
    <main>
      <span id="buttons">
        <a class="link-back" href="https://{{ WEB_EDITOR_HOSTNAME }}">home</a>
        <span class="projectname">{{ projectName }}</span>
        {% if user %}
        <button id="download" title="Download project files">💾</button>
        <a
          title="Remix this project!"
          href="/v1/projects/remix/{{ projectName }}"
          >✨</a
        >
        {% endif %}
        {% if user and projectOwner %}
        <button class="project-settings">settings</button>
        {% endif %}
        {% if user and projectMember %}
        <button id="format" title="Make my code pretty!">🤩</button>
        {% endif %}
      </span>

      <file-tree id="filetree"></file-tree>

      <div id="tabnav">
        <div id="left">
          <button>〈</button>
        </div>
        <div id="tabs"></div>
        <div id="right">
          <button>〉</button>
        </div>
      </div>
      <div id="editors"></div>

      <div id="preview" style="position: relative">
        <span id="preview-buttons">
          {% if user %}
          <button class="restart" title="Restart your host container">
            restart
          </button>
          {% endif %}
          <button class="newtab" title="Open preview in new tab">
            new tab
          </button>
        </span>
        <iframe
          sandbox
          src="https://{{ WEB_EDITOR_HOSTNAME }}/default/index.html"
          data-src="https://{{ projectName }}.{{ WEB_EDITOR_APPS_HOSTNAME }}"
          data-project-name="{{ projectName }}"
        ></iframe>
      </div>

      <div id="status">
        Welcome to
        <a href="https://mastodon.social/deck/@TheRealPomax" target="_blank"
          >my</a
        >
        browser based web editor! This editor uses
        <a href="https://codemirror.net/" target="_blank">CodeMirror 6</a> for
        its file panels, and
        <a
          href="https://pomax.github.io/custom-file-tree/public/"
          target="_blank"
          >&lt;file-tree&gt;</a
        >
        for its file browser. The project is hosted over on
        <a
          href="https://github.com/pomax/browser-based-web-editor"
          target="_blank"
          >https://github.com/pomax/browser-based-web-editor</a
        >.
      </div>
    </main>

    {% include "fragments/edit.html" %}

    <script src="/js/editor.bundle.js" type="module" async></script>
  </body>
</html>
